
.flex-container {
    position: relative;
    top:110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.normal {
  background-color: #FAFAFA;
  border: 2px solid #D9E6EB;
  border-radius: 23px;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 110px;
  font-size: 30px;
  position:relative;
}

.eventSign{
  display:none;
  position:absolute;
  left:50px;
}

.normal:hover .eventSign{
  display:block;

  font-family: OpenSans-Semibold;
  font-size: 24px;
  color: #FF0000;
  letter-spacing: 0;
}

.answer{
  font-family: OpenSans-Semibold;
  font-size: 28px;
  color: #0D7BAB;
  letter-spacing: 0;
}

.clicked{  
  background: #FAFAFA;
  border: 4px solid #0D7BAB;
  border-radius: 23px;
}

.correctAnswer{
  background: #FAFAFA;
  border: 4px solid #33C933;
  border-radius: 23px;
}