
.flex-container {
    position: relative;
    top:110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.defaultOption {
  border: 2px solid #D9E6EB;
}

.eventSign{
  display:none;
  
  position:absolute;
  left:50px;

  font-family: OpenSans-Semibold;
  font-size: 24px;
  color: #FF0000;
  letter-spacing: 0;
}

.defaultOption:hover .eventSign{
  display:block;
}

.answer{
  font-family: OpenSans-Semibold;
  font-size: 28px;
  color: #0D7BAB;
  letter-spacing: 0;
}

.clicked .eventSign{
  display: block;
}

.option{
  border: 2px solid #D9E6EB;
  
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 110px;
  font-size: 30px;
  position:relative;

  background: #FAFAFA;
  border-radius: 23px;
}

.clicked{  
  border: 4px solid #0D7BAB;
}

.correctAnswer{
  border: 4px solid #33C933;
}