
<div class="flex-container">
  <div *ngFor="let option of options; let i = index" id="{{i}}" [ngClass]="options[i]['classes']" (click)="onMouseClick($event)">
    <img src="./assets/Group.png" [hidden]="!options[i]['classes']['correctAns']">
    <img src="./assets/Group 3.png" [hidden]="!options[i]['classes']['inCorrectAns']">
    <span class="eventSign" [hidden]="options[i]['classes']['inCorrectAns'] || options[i]['classes']['correctAns']">
      {{eventSign}}
    </span>
    <div style="margin:auto; width:47%; display:table; height:120px;">
        <span class="answerText">
          {{option.answer}}
        </span>
    </div>
  </div>
</div>
