.wrapper{
    display:flex;
    justify-content: center;
}

.default {
    
    /* Circle */
    height: 10px;
    width: 10px;
    background: #C9CFD3;
    border-radius: 50%;
    
    margin:5px;
}

.turnOn{
    background: #0D7BAB;
}
