.question{
    text-align: center;
    position: relative;
    width:100%;
}

.text{
    font-family: OpenSans;
    font-size: 24px;
    color: #223336;
    letter-spacing: 0;
}

.questionSign{
    
    font-family: OpenSans-Bold;
    font-size: 32px;
    color: #0D7BAB;
    letter-spacing: 0;
}