<div class="top">
  <img src="./assets/Group 5.png" class="rotation180">
  <div class="top-front">
      <img src="./assets/Group 4.png" class="logo">
  </div>
</div>

<app-question class="underLogo"></app-question>
<app-answers (selectEvent)="updateOptionSelected($event)"></app-answers>

<div class="buttonWrapper">
  <span class="buttonAsideMsg" [hidden]="!mouseOver">
    Hover/Click
  </span>
  <button id="okButton" [ngClass]="selectedClass" (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave($event)">OK</button>
</div>

<app-questions-bar></app-questions-bar>

<div>
  <img src="./assets/Group 5.png" class="bottom">
</div>

