.top{
    position:absolute;
    top:0;
    width:100%;
    height:10.8%;
}

.rotation180{
    position:absolute;
    top:0;
    width:100%;
    height:100%;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.logo{
    margin: 0;
    position: absolute;
    top: 50%;
    left:42%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width:15%;
}

.underLogo{
    position: relative;
    top:100px;
}

.questionsBar{
    position: relative;
    top: 215px;
}

.bottom{
    position:absolute;
    bottom:0;
    width:100%;
    height:10.8%;
}

