
.underLogo{
    position: relative;
    top:150px;
    /* left: auto; */
}

.top-front
{
    width:60.3%;
    height:10.8%;
    left:19.9%;
}

.logo{
    margin: 0;
    position: absolute;
    top: 50%;
    left:42%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width:15%;
}

.rotation180{
    position:absolute;
    top:0;
    width:100%;
    height:100%;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.top{
    position:absolute;
    top:0;
    width:100%;
    height:10.8%;
}

.bottom{
    position:absolute;
    bottom:0;
    width:100%;
    height:10.8%;
}

.buttonWrapper{
    text-align: center;
    position: relative;
    top:150px;
}

.regular{
    background: #F0F0F0;
    border-radius: 100px;
    width: 300px;
    height: 60px;

    font-family: OpenSans-Semibold;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.optionSelected{
    background: #F68034;
    border-radius: 100px;
    width: 300px;
    height: 60px;

    font-family: OpenSans-Semibold;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

