<div class="top">
  <img src="./assets/Group 5.png" class="rotation180">
  <div class="top-front">
      <img src="./assets/Group 4.png" class="logo">
  </div>
</div>

<app-answers></app-answers>

<div class="wrapper">
  <button id="okButton" [className]="isMouseOverOkButton ? 'buttonMouseover' : 'buttonMouseout'" (mouseover)="onMouseHover($event)" (mouseout)="onMouseOut($event)">OK</button>
</div>

<app-questions-bar></app-questions-bar>


<div>
  <img src="./assets/Group 5.png" class="bottom">
</div>

