<div class="top">
  <img src="./assets/Group 5.png" class="rotation180">
  <div class="top-front">
      <img src="./assets/Group 4.png" class="logo">
  </div>
</div>

<app-question class="underLogo" 
          (selectEvent)="updateOptionSelected($event)"
          [okbuttonIsClicked]="okbuttonIsClicked"></app-question>

<div class="buttonWrapper">
  <button id="okButton" [ngClass]="selectedClass" (click)="onClickOkButton($event)">
    {{okbuttonText}}
  </button>
  <span class="buttonAsideMsg">
    Hover/Click
  </span>
</div>

<app-questions-bar></app-questions-bar>

<div>
  <img src="./assets/Group 5.png" class="bottom">
</div>

