
.okButton{
    text-align: center;
    position: relative;
    top:200px;
    
    width: 580px;
    height: 60px;

    margin:auto;
}

.buttonAsideMsg{
    display:none;

    position:absolute;
    top:15px;
    left: 10px;

    font-family: OpenSans-Semibold;
    font-size: 24px;
    color: #FF0000;
    letter-spacing: 0;
    text-align: center;
}

.regular{
    background: #F0F0F0;
    border-radius: 100px;
    width: 300px;
    height: 60px;

    font-family: OpenSans-Semibold;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.optionSelected{
    background: #F68034;
    border-radius: 100px;
    width: 300px;
    height: 60px;

    font-family: OpenSans-Semibold;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.optionSelected:hover + .buttonAsideMsg{
    display: block;
}